---
description: ''
layout: schema
name: VerificationStatus
properties_list:
- description: Date the verification was performed.
  name: date
  type: '[''string'', ''null'']'
- description: The verification status.
  name: status
  type: '[''string'', ''null'']'
provider_name: Hunter
provider_slug: hunter
schema_file: json-schema/hunter-verification-status-schema.json
slug: hunter-verification-status
tags:
- Contact Discovery
- Email
- Email Verification
- Lead Generation
- Prospecting
- Sales Intelligence
title: VerificationStatus
---
