---
description: ''
layout: schema
name: ValidationResult
properties_list:
- description: ''
  name: valid
  type: boolean
- description: ''
  name: message
  type: string
provider_name: Oracle GoldenGate
provider_slug: oracle-goldengate
schema_file: json-schema/oracle-goldengate-rest-validation-result-schema.json
slug: oracle-goldengate-rest-validation-result
tags:
- CDC
- Data Integration
- Data Synchronization
- Database
- Enterprise
- Real-Time Replication
title: ValidationResult
---
