---
description: ''
layout: schema
name: TestResult
properties_list:
- description: ''
  name: actualValue
  type: string
- description: ''
  name: endTime
  type: string
- description: ''
  name: errorCode
  type: integer
- description: ''
  name: expectedValue
  type: string
- description: ''
  name: metricLabel
  type: string
- description: ''
  name: name
  type: string
- description: ''
  name: result
  type: string
- description: ''
  name: score
  type: integer
- description: ''
  name: startTime
  type: string
- description: ''
  name: status
  type: string
- description: ''
  name: metricExplainability
  type: string
provider_name: Salesforce
provider_slug: salesforce
schema_file: json-schema/salesforce-test-result-schema.json
slug: salesforce-test-result
tags:
- AI
- Analytics
- Cloud
- Commerce
- CRM
- Customer Service
- Enterprise
- Marketing
- Platform
- Sales
title: TestResult
---
