---
description: DnsRecordVerificationStatus schema from Amazon WorkMail API
layout: schema
name: DnsRecordVerificationStatus
properties_list: []
provider_name: Amazon WorkMail
provider_slug: amazon-workmail
schema_file: json-schema/workmail-dns-record-verification-status-schema.json
slug: workmail-dns-record-verification-status
tags:
- AWS
- Business Communication
- Calendar
- Email
- Exchange
- Enterprise
title: DnsRecordVerificationStatus
---
