---
layout: default
---
{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
<a name="{{ page.name }}"></a>
<h3>{{ page.name }}</h3>
<p><i>{{ page.modified | date: date_format }}</i></p>
<p>{{ page.description | strip_html | strip_newlines }}</p> 
<h4>Properties</h4>
{% assign aid = page.aid | split: ":" %}
<ul id="">
    <li><a href="{{ page.humanURL }}">Human URL</a></li>
    <li><a href="https://github.com/api-evangelist/{{ aid[0] }}">GitHub Repo</a></li>
    <li><a href="https://github.com/api-evangelist/{{ aid[0] }}/blob/main/apis.yml">APIs.json Index</a></li>
    {% if page.baseURL %}
        {% if page.baseURL != 'https://api.example.com' %}
            <li><a href="{{ page.baseURL }}">Base URL</a></li>
        {% endif %}
    {% endif %}
    {% for property in page.properties %}
        <li><a href="{{ property.url }}">{{ property.type }}</a></li>
    {% endfor %}    
</ul>             
{% assign number_of_tags = page.tags | size %}
{% if number_of_tags > 0 %}
<h4>Tags</h4>
<style>
    ul.cloud {
      list-style: none;
      padding-left: 25px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: left;
      line-height: 1.5rem;
      width: 50%;
    }
    ul.cloud a {
      color: #a33;
      display: block;
      font-size: 1.2rem;
      padding: 0.125rem 0.25rem;
      text-decoration: none;
      position: relative;
      opacity: calc((15 - (9 - var(--size))) / 15); 
    }

    ul.cloud a[data-weight="1"] { --size: 1; }
    ul.cloud a[data-weight="2"] { --size: 2; }
    ul.cloud a[data-weight="3"] { --size: 3; }
    ul.cloud a[data-weight="4"] { --size: 4; }
    ul.cloud a[data-weight="5"] { --size: 5; }
    ul.cloud a[data-weight="6"] { --size: 6; }
    ul.cloud a[data-weight="7"] { --size: 7; }
    ul.cloud a[data-weight="8"] { --size: 8; }
    ul.cloud a[data-weight="9"] { --size: 9; }

    ul.cloud li:nth-child(2n+1) a { --color: #181; }
    ul.cloud li:nth-child(3n+1) a { --color: #33a; }
    ul.cloud li:nth-child(4n+1) a { --color: #c38; }
  </style>
<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
{% for tag in page.tags %}  
    {% if tag != '' %}
        <li><a data-weight="4" href="/?search={{ tag }}" style="text-decoration: underline;">#{{ tag }}</a></li>
    {% endif %}      
{% endfor %}   
</ul>   
{% endif %}