---
aid: mastercard:mastercard-id-verification
baseURL: ''
description: In this digital world, user identity fraud is on the rise due to inadequate digital identity verification methods. The ID Networkopens in a new tab model provides users with greater control of their digital identityopens in a new tab and enables organizations to provide seamless digital interactions with reduced risk. The ID network protects personal data and privacy by allowing individuals to control when and with whom their identity data is shared.
humanURL: https://developer.mastercard.com/mastercard-id-assist/documentation/
image: ''
layout: api
name: Mastercard ID Verification
properties:
- name: API Basics | ID Verification | Mastercard Developers
  type: Authentication
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#authentication
- name: API Basics | ID Verification | Mastercard Developers
  type: Sandbox
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#environment-descriptions
- name: Use Cases | ID Verification | Mastercard Developers
  type: UseCases
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/use-cases/
- name: Tutorials and Guides | ID Verification | Mastercard Developers
  type: Tutorials
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/tutorials-and-guides/
- name: API Reference | ID Verification | Mastercard Developers
  type: Documentation
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-reference/
- name: Reference App | ID Verification | Mastercard Developers
  type: CodeExamples
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/reference-app/
- name: Postman Collection | ID Verification | Mastercard Developers
  type: CodeExamples
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/postman-collection/
- name: Code and Formats | ID Verification | Mastercard Developers
  type: Errors
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/code-and-formats/
- name: Release History | ID Verification | Mastercard Developers
  type: ChangeLog
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/release-history/
- name: Support | ID Verification | Mastercard Developers
  type: FAQ
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/support/#faqs
- name: Support | ID Verification | Mastercard Developers
  type: Support
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/support/#help
provider_name: Mastercard
provider_slug: mastercard
slug: mastercard-id-verification
tags:
- Digital Identity
- Fraud Prevention
- Identity Verification
---
