---
aid: mastercard:mastercard-id-verification
name: Mastercard ID Verification
tags: []
humanURL: https://developer.mastercard.com/mastercard-id-assist/documentation/
properties:
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#authentication
    name: API Basics | ID Verification | Mastercard Developers
    type: Authentication
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#environment-descriptions
    name: API Basics | ID Verification | Mastercard Developers
    type: Environments
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/use-cases/
    name: Use Cases | ID Verification | Mastercard Developers
    type: UseCases
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/tutorials-and-guides/
    name: Tutorials and Guides | ID Verification | Mastercard Developers
    type: Tutorials
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/api-reference/
    name: API Reference | ID Verification | Mastercard Developers
    type: Documentation
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/reference-app/
    name: Reference App | ID Verification | Mastercard Developers
    type: ReferenceApplication
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/postman-collection/
    name: Postman Collection | ID Verification | Mastercard Developers
    type: PostmanCollection
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/code-and-formats/
    name: Code and Formats | ID Verification | Mastercard Developers
    type: Errors
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/release-history/
    name: Release History | ID Verification | Mastercard Developers
    type: ChangeLog
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/support/#faqs
    name: Support | ID Verification | Mastercard Developers
    type: FAQ
  - url: >-
      https://developer.mastercard.com/mastercard-id-assist/documentation/support/#help
    name: Support | ID Verification | Mastercard Developers
    type: Support
description: >-
  In this digital world, user identity fraud is on the rise due to inadequate
  digital identity verification methods. The ID Networkopens in a new tab model
  provides users with greater control of their digital identityopens in a new
  tab and enables organizations to provide seamless digital interactions with
  reduced risk. The ID network protects personal data and privacy by allowing
  individuals to control when and with whom their identity data is shared.

---